<!DOCTYPE html>
<html lang="en">
    {{>head}}
<body>

    <p>{{>header}}</p>
    <div class="main-content">
        <p>{{judul}}</p>
        <div class="about-container">
            <div class="about-app">
                {{#if error}}
                    <div class="bubble" style="color:red">
                        <p>{{error}}</p>
                    </div>
                {{else}}
                    {{#each berita}}
                        <div class="bubble">
                            <h3>{{this.title}}</h3>
                            {{#if this.image}}
                                <img src="{{this.image}}" alt="{{this.title}}" style="max-width:100%; height:auto;">
                            {{/if}}
                            <p>{{this.description}}</p>
                            <p><b>Sumber:</b> {{this.source}} | <b>Terbit:</b> {{this.published_at}}</p>
                            <p><a href="{{this.url}}" target="_blank">Baca Selengkapnya</a></p>
                        </div>
                    {{/each}}
                {{/if}}
            </div>
        </div>
    </div>
    {{>footer}}

</body>
</html>
